
<!DOCTYPE html>

<html>
<style>
body {
  background-image: url('https://media.istockphoto.com/photos/balloons-on-black-background-picture-id1174140498?b=1&k=20&m=1174140498&s=170667a&w=0&h=80ygfudmDKxtDXihJXEhB_1Soex1zayAiCoqFwYgP80=');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<style>
  form {
text-align: center;
color: white;
}
</style>

<head>
<body>
  <h1 style = "text-align: center;color: white;font-size:60px;">Welcome to Birthday Greeter!!</h1>
</h1>
  <p style = "font-size: 250px;"></p>
<h2 style = "text-align: center;color: white;font-size:40px;", >Enter your name:</h2>
  <p style = "font-size: 10px;"></p>
<form action="/" method="post">
  <label for="user_name">
    Your name
    <input type="text" name="user name">
  </label>
</form>
<p style = "font-size: 100px;"></p>
<h3 style = "text-align: center;color: white;font-size:40px;">Enter your date of birth:</h3>
  <p style = "font-size: 10px;"></p>
<form action="/" method="post">
  <label for="user day of birth">
    Your day of birth
    <input type="text" name="user day of birth">
  </label>
  <input type="submit" value="Submit">
</form>
</body>
</html>